{
  "root": true,
  "env": {
    "node": true,
    "browser": true,
    "webextensions": true
  },
  "rules": {
    "indent": ["error", 2],
    "quotes": ["error", "double"],
    "no-var": "error",
    "prefer-const": "error",
    "strict": ["error", "global"],
    "notice/notice":[ "error", {
      "mustMatch": "This Source Code Form is subject to the terms of the Mozilla Public",
      "templateFile": "copyright.template.txt"
      }
    ],
    "semi": ["error", "always"],
    "no-debugger":  ["error"]
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "json",
    "notice",
    "mocha",
    "jsdoc"
  ],
  "overrides": [
    {
      "files": "tests/**",
      "env": {
        "mocha": true
      },
      "extends": [
        "plugin:mocha/recommended"
      ]
    },
    {
      "files": "*.json",
      "extends": [
        "plugin:json/recommended"
      ],
      "rules": {
        "notice/notice": "off"
      }
    },
    {
      "files": "*.js",
      "extends": [
        "eslint:recommended"
      ]
    },
    {
      "files": "*.ts",
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
      ]
    }
  ]
}
