# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

---

version: 2.1
commands:
  install-node:
    steps:
      - run:
          name: Install Node.js
          command: |
            curl -fsSL https://deb.nodesource.com/setup_lts.x | sudo -E bash -
            sudo apt-get install -y nodejs
parameters:
  python-version:
    type: string
    default: "3.9.4"
jobs:
  spellcheck:
    docker:
      # Use Ubuntu Focal (20.04) so we get aspell 0.60.8 or later
      # (which contains markdown support)
      - image: circleci/buildpack-deps:focal
    steps:
      - checkout
      - run:
          name: Upgrade packages
          command: sudo apt update
      - run:
          name: Install aspell
          command: sudo apt install aspell aspell-en
      - run:
          name: Check documentation spelling
          command: bin/spellcheck.sh list
  lint:
    docker:
      - image: cimg/python:<< pipeline.parameters.python-version >>
    steps:
      - checkout
      - install-node
      - run:
          name: Check that package-lock.json is updated as needed
          command: |
            npm install --prefix ./glean --package-lock-only
            if ! git diff --exit-code HEAD -- glean/package-lock.json; then
              echo "=================================================="
              echo "The committed package-lock.json is out-dated."
              echo "Please regenerate package-lock.json using"
              echo "    npm i --package-lock-only"
              echo "Commit the modified file and push."
              echo "=================================================="
              exit 1
            fi
      - run:
          name: Install JavaScript dependencies
          command: npm --prefix ./glean install
      - run:
          name: Run linters
          command: npm --prefix ./glean run lint
      - run:
          name: Audit dependency tree
          command: npm --prefix ./glean audit --production

  test:
    docker:
      - image: cimg/python:<< pipeline.parameters.python-version >>
    steps:
      - checkout
      - install-node
      - run:
          name: Install Firefox related dependencies
          command: |
            sudo add-apt-repository ppa:ubuntu-mozilla-daily/ppa
            sudo apt update
            sudo apt install firefox-trunk
      - run:
          name: Install JavaScript dependencies
          command: npm --prefix ./glean install
      - run:
          name: Run unit tests
          command: export PATH=.:$PATH && npm --prefix ./glean run test:unit
      - run:
          name: Run integration tests
          command: export PATH=.:$PATH && npm --prefix ./glean run test:integration

  build:
    docker:
      - image: cimg/python:<< pipeline.parameters.python-version >>
    steps:
      - checkout
      - install-node
      - run:
          name: Install JavaScript dependencies
          command: npm --prefix ./glean install
      - run:
          name: Build library
          command: npm --prefix ./glean run build
      - run:
          name: Build docs
          command: npm --prefix ./glean run build:docs

  sample-webext-test:
    docker:
      - image: cimg/python:<< pipeline.parameters.python-version >>
    steps:
      - checkout
      - install-node
      - run:
          name: Install JavaScript dependencies for Glean
          command: npm --prefix ./glean install
      - run:
          name: Install Typescript dependencies for the TS web extension sample
          command: |
            npm --prefix ./samples/browser/webext install
            npm --prefix ./samples/browser/webext run link:glean
      - run:
          name: Build the TS web extension sample
          command: |
            npm --prefix ./samples/browser/webext run build
      - run:
          name: Run TS web extension sample test
          command: |
            export PATH=.:$PATH && npm --prefix ./samples/browser/webext run test

  sample-node-test:
    docker:
      - image: cimg/python:<< pipeline.parameters.python-version >>
    steps:
      - checkout
      - install-node
      - run:
          name: Install JavaScript dependencies for Glean
          command: npm --prefix ./glean install
      - run:
          name: Install JavaScript dependencies for the Node.js sample
          command: |
            npm --prefix ./samples/node install
            npm --prefix ./samples/node run link:glean
      - run:
          name: Build the Node.js Glean generated files sample
          command: |
            npm --prefix ./samples/node run glean
      - run:
          name: Run Node.js sample test
          command: |
            export PATH=.:$PATH && npm --prefix ./samples/node run test

  browser-compat-smoke-tests:
    docker:
      - image: cimg/python:<< pipeline.parameters.python-version >>
    steps:
      - checkout
      - install-node
      - run:
          name: Run browser comapt smoke tests
          command: |
            npm --prefix ./automation install
            npm --prefix ./automation run link:glean
            npm --prefix ./automation run compat:test:browserstack

  check-size:
    docker:
      - image: cimg/node:16.1.0
    steps:
      - checkout
      - run:
          name: Get and post build sizes to GitHub PR
          command: |
            npm --prefix ./automation install
            npm --prefix ./automation run link:glean
            npm --prefix ./automation run size:report

  # via https://circleci.com/blog/deploying-documentation-to-github-pages-with-continuous-integration/
  docs-deploy:
    docker:
      - image: cimg/python:<< pipeline.parameters.python-version >>
    steps:
      - checkout
      - install-node
      - add_ssh_keys:
          fingerprints:
            - "ea:d2:3c:e1:09:cf:1a:1d:85:d6:6e:1d:52:0a:58:41"
      - run:
          name: Install JavaScript dependencies
          command: npm --prefix ./glean install
      - run:
          name: Build documentation
          command: npm --prefix ./glean run build:docs
      - run:
          name: Disable jekyll builds
          command: touch glean/dist/docs/.nojekyll
      - run:
          name: Show contents
          command: ls -R glean/dist/docs
      - run:
          name: Setup SSH key and deploy docs to gh-pages branch
          command: |
            git config user.email "dataops+ci-bot@mozilla.com"
            git config user.name "dataops-ci-bot"
            npm --prefix ./glean run publish:docs

  publish:
    docker:
      - image: cimg/python:<< pipeline.parameters.python-version >>
    steps:
      - checkout
      - install-node
      - run:
          name: Install JavaScript dependencies
          command: npm --prefix ./glean install
      - run:
          name: NPM Authentication
          command: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > glean/.npmrc
      - run:
          name: Publish to npm
          command: export PATH=.:$PATH && (cd glean && npm publish --access public)
      - run:
          name: Get ghr release tool
          command: |
            GHR=ghr_v0.13.0_linux_amd64
            GHR_SHA256=c428627270ae26e206cb526cb8c7bdfba475dd278f6691ddaf863355adadfa13
            curl -sfSL --retry 5 -O "https://github.com/tcnksm/ghr/releases/download/v0.13.0/${GHR}.tar.gz"
            echo "${GHR_SHA256} *${GHR}.tar.gz" | sha256sum -c -
            tar -xf "${GHR}.tar.gz"
            cp ./${GHR}/ghr ghr

workflows:
  ci:
    jobs:
      - spellcheck
      - lint
      - build:
          requires:
            - lint
      - test:
          requires:
            - build
      - sample-webext-test:
          requires:
            - test
      - sample-node-test:
          requires:
            - test
      - hold:
          type: approval
          requires:
            - lint
            - build
            - test
            - sample-webext-test
            - sample-node-test
          filters:
            branches:
              ignore:
                - main
                - release
                - /^release-.*/
      - check-size:
          context: data-sre-gleanjs
          requires:
            - hold
      - browser-compat-smoke-tests:
          context: data-sre-gleanjs
          filters:
            branches:
              only:
                - main
                - release
                - /^release-.*/
      - docs-deploy:
          context: data-sre-gleanjs
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
      - publish:
          context: data-sre-gleanjs
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
