# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

---

version: 2.1

jobs:
  lint:
    docker:
      - image: cimg/python:3.9.4
    steps:
      - checkout
      - run:
          name: Install NVM
          command: |
            curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.38.0/install.sh | bash
            export NVM_DIR="$HOME/.nvm"
            echo 'export NVM_DIR=$HOME/.nvm' >> $BASH_ENV
            echo 'source $NVM_DIR/nvm.sh' >> $BASH_ENV
      - run:
          name: Install Node.js
          command: nvm install 16.5.0
      - run:
          name: Check that package-lock.json is updated as needed
          command: |
            npm install --prefix ./glean --package-lock-only
            if ! git diff --exit-code HEAD -- glean/package-lock.json; then
              echo "=================================================="
              echo "The committed package-lock.json is out-dated."
              echo "Please regenerate package-lock.json using"
              echo "    npm i --package-lock-only"
              echo "Commit the modified file and push."
              echo "=================================================="
              exit 1
            fi
      - run:
          name: Install JavaScript dependencies
          command: npm --prefix ./glean install
      - run:
          name: Run linters
          command: npm --prefix ./glean run lint
      - run:
          name: Audit dependency tree
          command: npm --prefix ./glean audit --production

  test:
    docker:
      - image: cimg/python:3.9.4-node
    steps:
      - checkout
      - run:
          name: Install Firefox related dependencies
          command: |
            sudo add-apt-repository ppa:ubuntu-mozilla-daily/ppa
            sudo apt update
            sudo apt install firefox-trunk
      - run:
          name: Install JavaScript dependencies
          command: npm --prefix ./glean install
      - run:
          name: Run unit tests
          command: export PATH=.:$PATH && npm --prefix ./glean run test:unit
      - run:
          name: Run integration tests
          command: export PATH=.:$PATH && npm --prefix ./glean run test:integration

  build:
    docker:
      - image: cimg/python:3.9.4-node
    steps:
      - checkout
      - run:
          name: Install JavaScript dependencies
          command: npm --prefix ./glean install
      - run:
          name: Build library
          command: npm --prefix ./glean run build
      - run:
          name: Build docs
          command: npm --prefix ./glean run build:docs

  webext-sample-tests:
    docker:
      - image: cimg/python:3.8.8-node
    steps:
      - checkout
      - run:
          name: Install JavaScript dependencies for Glean
          command: npm --prefix ./glean install
      # JS sample related jobs
      - run:
          name: Install JavaScript dependencies for the JS web extension sample
          command: |
            npm --prefix ./samples/browser/webext/javascript install
            npm --prefix ./samples/browser/webext/javascript run link:glean
      - run:
          name: Build the JS web extension sample
          command: |
            npm --prefix ./samples/browser/webext/javascript run build
      - run:
          name: Run JS web extension sample test
          command: |
            export PATH=.:$PATH && npm --prefix ./samples/browser/webext/javascript run test
      # TS sample related jobs
      - run:
          name: Install Typescript dependencies for the TS web extension sample
          command: |
            npm --prefix ./samples/browser/webext/typescript install
            npm --prefix ./samples/browser/webext/typescript run link:glean
      - run:
          name: Build the TS web extension sample
          command: |
            npm --prefix ./samples/browser/webext/typescript run build
      - run:
          name: Run TS web extension sample test
          command: |
            export PATH=.:$PATH && npm --prefix ./samples/browser/webext/typescript run test

  node-sample-tests:
    docker:
      - image: cimg/python:3.8.8-node
    steps:
      - checkout
      - run:
          name: Install JavaScript dependencies for Glean
          command: npm --prefix ./glean install
      - run:
          name: Install JavaScript dependencies for the Node.js sample
          command: |
            npm --prefix ./samples/node install
            npm --prefix ./samples/node run link:glean
      - run:
          name: Build the Node.js Glean generated files sample
          command: |
            npm --prefix ./samples/node run glean
      - run:
          name: Run Node.js sample test
          command: |
            export PATH=.:$PATH && npm --prefix ./samples/node run test

  qt-sample-tests:
    docker:
      - image: cimg/python:3.8.8-node
    steps:
      - checkout
      - run:
          name: Install JavaScript dependencies for Glean
          command: npm --prefix ./glean install
      - run:
          name: Install Qt dependencies
          command: |
            sudo apt-get update
            sudo apt-get install -y gcc g++ make cmake \
              qtbase5-dev qt5-default qt5-qmake qttools5-dev-tools qtdeclarative5-dev \
              qtdeclarative5-dev-tools qml-module-qttest qml-module-qtquick2 \
              qml-module-qtquick-localstorage qml-module-qtquick-controls2
            sudo apt-get install xvfb
      - run:
          name: Build and install Qt Glean.js library
          command: |
            npm --prefix ./glean run build:qt
            cp -r glean/dist/qt/org/ samples/qt/src/App/org/
      - run:
          name: Build the Node.js Glean generated files sample
          command: |
            cd samples/qt
            python3 -m venv venv
            source venv/bin/activate
            pip install -r requirements.txt
            glean_parser translate src/App/metrics.yaml src/App/pings.yaml \
              -f javascript -o src/App/generated \
              --option platform=qt --option version="0.23"
      - run:
          name: Run Qt sample tests
          command: |
            cd samples/qt
            qmake -r
            QML_IMPORT_TRACE=1 xvfb-run make check

  check-size:
    docker:
      - image: cimg/node:16.1.0
    steps:
      - checkout
      - run:
          name: Get and post build sizes to GitHub PR
          command: |
            ./benchmarks/run.sh

  # via https://circleci.com/blog/deploying-documentation-to-github-pages-with-continuous-integration/
  docs-deploy:
    docker:
      - image: cimg/node:16.1.0
    steps:
      - checkout
      - run:
          name: Install JavaScript dependencies
          command: npm --prefix ./glean install
      - run:
          name: Build documentation
          command: npm --prefix ./glean run build:docs
      - run:
          name: Disable jekyll builds
          command: touch glean/dist/docs/.nojekyll
      - run:
          name: Show contents
          command: ls -R glean/dist/docs
      - run:
          name: Setup SSH key and deploy docs to gh-pages branch
          command: |
            eval "$(ssh-agent -s)"
            DECODED_SSH_DEPLOY_KEY=$(echo $SSH_DEPLOY_KEY | base64 -d)
            ssh-add - \<<< "${DECODED_SSH_DEPLOY_KEY}"
            git config user.email "brizental+moz-glean@mozilla.com"
            git config user.name "moz-glean"
            npm --prefix ./glean run publish:docs

  publish:
    docker:
      - image: cimg/node:16.1.0
    steps:
      - checkout
      - run:
          name: Install JavaScript dependencies
          command: npm --prefix ./glean install
      - run:
          name: NPM Authentication
          command: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > glean/.npmrc
      - run:
          name: Publish to npm
          command: export PATH=.:$PATH && (cd glean && npm publish --access public)
      - run:
          name: Get ghr release tool
          command: |
            GHR=ghr_v0.13.0_linux_amd64
            GHR_SHA256=c428627270ae26e206cb526cb8c7bdfba475dd278f6691ddaf863355adadfa13
            curl -sfSL --retry 5 -O "https://github.com/tcnksm/ghr/releases/download/v0.13.0/${GHR}.tar.gz"
            echo "${GHR_SHA256} *${GHR}.tar.gz" | sha256sum -c -
            tar -xf "${GHR}.tar.gz"
            cp ./${GHR}/ghr ghr
      - run:
          name: Publish to Github
          command: |
            # Attach Qt build to release
            npm --prefix ./glean install
            npm --prefix ./glean run build:qt
            tar -zcvf "glean/dist/glean_js-${CIRCLE_TAG}-qt.tar.gz" glean/dist/qt
            ./ghr -u mozilla -replace ${CIRCLE_TAG} glean/dist/glean_js-${CIRCLE_TAG}-qt.tar.gz

workflows:
  ci:
    jobs:
      - lint
      - test
      - build
      - webext-sample-tests
      - node-sample-tests
      - qt-sample-tests
      - hold:
          type: approval
          requires:
            - lint
            - test
            - build
            - webext-sample-tests
            - node-sample-tests
            - qt-sample-tests
          filters:
            branches:
              ignore:
                - main
                - release
                - /^release-*/
      - check-size:
          context: data-eng-gleanjs-gh
          requires:
            - hold
      - docs-deploy:
          context: data-eng-gleanjs-gh
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
      - publish:
          context: data-eng-gleanjs-gh
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
