{
  "root": true,
  "env": {
    "node": true,
    "browser": true,
    "webextensions": true
  },
  "rules": {
    "indent": ["error", 2],
    "quotes": ["error", "double"],
    "no-var": "error",
    "no-trailing-spaces": "error",
    "prefer-const": "error",
    "strict": ["error", "global"],
    "notice/notice":[ "error", {
      "mustMatch": "This Source Code Form is subject to the terms of the Mozilla Public",
      "templateFile": "copyright.template.txt"
      }
    ],
    "@typescript-eslint/consistent-type-imports": "error",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [ "error", {
      "argsIgnorePattern": "^_",
      "varsIgnorePattern": "^_"
    }],
    "no-debugger":  ["error"],
    "no-multi-spaces": "error",
    "jsdoc/no-types": "off",
    "jsdoc/require-param-type": "off",
    "jsdoc/require-returns-type": "off",
    "jsdoc/require-returns-check": "off",
    "jsdoc/tag-lines": 0,
    "import/no-named-as-default": "off",
    "import/no-duplicates": "off",
    "import/no-unresolved": "off",
    "import/no-named-as-default-member": "off"
  },
  "extends": [
    "plugin:jsdoc/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "json",
    "notice",
    "mocha",
    "jsdoc"
  ],
  "overrides": [
    {
      "files": "*.json",
      "extends": [
        "plugin:json/recommended"
      ],
      "rules": {
        "notice/notice": "off"
      }
    },
    {
      "files": "*.js",
      "extends": [
        "eslint:recommended",
        "plugin:import/recommended",
      ]
    },
    {
      "files": "*.ts",
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
      ],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": ["./tsconfig.json"]
      },
      "rules": {
        "@typescript-eslint/no-namespace": "off"
      }
    },
    {
      "files": "src/**",
      "rules": {
        "import/extensions": ["error", "always", { "ignorePackages": true } ]
      }
    },
    {
      "files": "tests/**",
      "env": {
        "mocha": true
      },
      "extends": [
        "plugin:mocha/recommended",
      ],
      "rules": {
        "mocha/no-skipped-tests": "off",
        "mocha/no-pending-tests": "off",
        "mocha/no-setup-in-describe": "off",
        "@typescript-eslint/no-misused-promises": "off"
      }
    },
  ]
}
